/*
Copyright 2024 New Vector Ltd.

SPDX-License-Identifier: AGPL-3.0-only OR LicenseRef-Element-Commercial
Please see LICENSE in the repository root for full details.
*/

.fixed,
.scrolling {
  block-size: 100%;
}

.scrolling {
  display: grid;
  grid-template-columns: repeat(var(--columns), var(--width));
  grid-auto-rows: var(--height);
  grid-auto-flow: row;
  justify-content: center;
  align-content: center;
  gap: var(--gap);
}

.scrolling > .slot {
  min-width: 0;
  min-height: 0;
}

/* Larger tiles for Screen shares in Grids */
.scrolling > .slot[data-stream="true"] {
  grid-column: span 2;
  grid-row: span 2;
}

/* Focused tile takes up the entire grid area */
.scrolling.focused {
  display: block;
}

.scrolling.focused > .slot {
  width: 100%;
  height: 100%;
}

.fixed {
  position: relative;
}

.fixed > .slot {
  position: absolute;
  inline-size: 404px;
  block-size: 233px;
  /* Ensure that spotlight tile lies within the safe area */
  inset: 0 calc(env(safe-area-inset-right) + var(--cpd-space-3x)) 0
    calc(env(safe-area-inset-left) + var(--cpd-space-3x));
}

.fixed > .slot[data-block-alignment="start"] {
  inset-block-end: unset;
}

.fixed > .slot[data-block-alignment="end"] {
  inset-block-start: unset;
}

.fixed > .slot[data-inline-alignment="start"] {
  inset-inline-end: unset;
}

.fixed > .slot[data-inline-alignment="end"] {
  inset-inline-start: unset;
}
